@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playwrite+CU:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #eae4d7;

}  

body{
    color: #4c4f53;
    display: center;
    font-size: 24px; 
    margin-left: 20px;
    max-width: 800px;
     border:  5px solid #c47f53;
}


.titulo{
    font-size: 28px;
    color: #4c4f53;
    margin-top: 40px;
    border:  5px solid #c47f53;
    text-align: center;

}

.titulo__site{
    font-size: 28px;
    color: #c47f53;
}
